*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-image: url("https://static1.s123-cdn-static-a.com/uploads/7646174/400_640b912d2275d.png");
background-size: cover;
background-repeat: none;
box-sizing: border-box;


}

header{
display: flex;


}

/*Principio de Header */
.contenedor {
 
  animation: gradiente 5s ease-in-out infinite;
background: linear-gradient(-45deg,
rgba(170, 255, 0, 0.918),
rgba(36, 153, 221, 0.301),
rgba(0, 89, 255, 0.664));
background-size: 350%;
background-color: rgb(170, 255, 0);

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 21px;
  padding: 66px;
}

@keyframes gradiente{
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
}


.primer-div {
display: flex;
position: absolute;
left: 73px;
order: 1;
}
.primer-div img{
width: 114px;
}

.segundo-div {
display: flex;
position: absolute;
right: 24px;
order: 2;
}
.segundo-div img{
width:337px;

}

nav{
position: absolute;
left: 20%;
}

nav ul{
display: flex;
justify-content: center;
align-items: center;
list-style: none;
}
nav ul li a{

color:rgb(0, 81, 255) ;
font-family: Arial, Helvetica, sans-serif;
font-size: 21px;
font-weight: bolder;
/*-webkit-text-stroke: 0.5px black;*/
text-decoration: none;
margin: 10px;
padding: 10px;
}

nav ul li a:hover{
color:white;
}
nav ul li a:active {
color:black;
}
/*fin de header*/
/*comienzo contenido principal sinopsis */
main{
display: flex;

width: 97%;
  justify-content: center;
  align-items: center;
  margin: 0px 21px 21px 21px;
  
}
.fondo{
background-color: rgba(255, 255, 0, 0.781);
padding: 24px 5px 5px 5px;
}

main section h2{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 34px;
}



main section p{
text-align:justify;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
margin: 29px;
}

main section p span{
margin-top: 5px;
font-weight: bolder;
}

/*fin contenido principal sinopsis */

footer{
display: flex;
justify-content: space-between;
background-color:rgba(0, 0, 0, 0.623);
width: 97%;
margin: 10px 21px 5px 21px;
padding: 17px 67px 22px  47px;
font-family: Arial, Helvetica, sans-serif;

}

.footer_izquierda{
display: flex;
margin-top: 12px;
}

footer ul li {
color:white ;
font-family: Arial black, Helvetica, sans-serif;
font-size: 19px;
font-weight: bolder;
/*-webkit-text-stroke: 0.5px black;*/

}

footer ul {
list-style: none;
}

footer ul li a{
color:white ;
font-family: Arial black, Helvetica, sans-serif;
font-size: 20px;
font-weight: bolder;
/*-webkit-text-stroke: 0.5px black;*/
text-decoration: none;

}

footer ul li a:hover{
color: yellowgreen;
}

footer img{
display: flex;
width: 168px;
border: 5px;
margin-top: 16px;
background-color: white;
}  


/*fin footer */




@media(max-width:440px){

  body{
    background-image: url("img/fondo 440x283px.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
    
    
    }
  
  .contenedor {
    margin: 21px 10px 21px 27px;
    padding: 66px;
  }

  .primer-div {
    display: flex;
    position: absolute;
    left: 30px;
    order: 1;
    }  
    
    .primer-div img {
      width: 97px;
  }

    .segundo-div {
    display: flex;
    position: absolute;
    right: 11px;
    order: 2;
    }
    .segundo-div img{
    width:130px;
    }
    
    nav{
      position: absolute;
      left: 24%;
    }
      
    nav ul{
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
    }

    nav ul li a{

      color:rgb(0, 81, 255) ;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: bolder;
      /*-webkit-text-stroke: 0.5px black;*/
      text-decoration: none;
      margin: 10px;
      padding: 10px;
      }
  
 

    .fondo{
      width: 95%;
      margin: 0px 0px 0px 7px;
      padding: 24px 14px 5px 5px;
    }

    footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color:rgba(0, 0, 0, 0.623);
      width: 92%;
      margin: 10px 21px 29px 28px;
      padding: 17px 16px 22px 27px;
      font-family: Arial, Helvetica, sans-serif;
      
    }

    footer ul li {
      color: white;
      margin: 0px -5px 4px 0px;
      font-family: Arial black, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bolder;
      /* -webkit-text-stroke: 0.5px black; */
  }

  footer ul li a {
    color: white;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    /* -webkit-text-stroke: 0.5px black; */
    text-decoration: none;
}

  footer img{
    margin:  31px 16px 16px 102px;
  }  
    
    
    
 
}



